
.country-div{
    min-height: max-content;
    padding: 20px;
    text-align: center;
    display: inline-block;
    border: 2px solid rgba(145, 145, 145, 0.678);
    border-radius: 15px;
    margin: 15px;
    padding: 30px;
    
    
}
.country-info p{
    font-weight: 400;
    font-size: 20px;
}
.country-div .flag-img img{
    display: block;
    height: 250px;
    width: 350px;
    overflow: hidden;
}

.btn{
    background-color: rgba(137, 43, 226, 0.822);
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
}
.btn:hover{
    color: black;
}